:root {
  --bg-gray: #666666;
  --bg-test: green;
  --text-white: #ffffff;
}

html {
  box-sizing: border-box;
}

body {
  color: var(--text-white);
  background-color: var(--bg-gray);
  height: calc(100dvh - var(--wp-admin--admin-bar--height, 0px));
  overflow: hidden;
  /* Hide scrollbar for Chrome, Safari, and newer Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE and legacy Edge */
  -ms-overflow-style: none;
}

.layout {
  display: flex;
  max-width: 80%;
  height: 100%;
  margin: auto;
}

header {
  height: 100%;
  background-color: var(--bg-test);
}

header li {
  list-style: none;
}

main {
  flex: 1;
}

.center-y {
  display: flex;
  align-items: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

/* WordPress Block CSS */

.menu-main-navigation-container {
  height: 100%;
  width: 100%;
}
