/* --------------------------------------------------- */
/* ------------------ ROOT STYLES -------------------- */
/* --------------------------------------------------- */

:root {
  --bg-gray: #666666;
  --bg-shale: #2e2e2e;
  --bg-test: green;
  --bg-main: #1c2226;
  --bg-black: #121212;
  --text-main: #c5c5c5;
  --text-white: #ffffff;
  --border-style: var(--bg-gray) 1px solid;
  --ultra-max-spacing: 20px;
  --max-spacing: 10px;
  --med-spacing: 5px;
  --min-spacing: 2px;
  --min-border-radius: 5px;
  --max-border-radius: 10px;
  --scroll-bar-color: #888;
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-large: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  all: unset;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: var(--font-size-small);
  color: var(--text-main);
}

ul,
li,
a {
  all: unset;
  display: flex;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: var(--font-size-small);
  color: var(--text-main);
}

button {
  all: unset;
  cursor: pointer;
}

/* --------------------------------------------------- */
/* ------------------ Mobile First ------------------- */
/* --------------------------------------------------- */

body {
  color: var(--text-main);
  background-color: var(--bg-main);
  height: calc(100dvh - var(--wp-admin--admin-bar--height, 0px));
  overflow: hidden;
  /* Hide scrollbar for Chrome, Safari, and newer Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE and legacy Edge */
  -ms-overflow-style: none;
}

svg {
  color: var(--text-main);
  height: 20px;
  width: 20px;
}

.layout {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  margin: auto;
}

header {
  width: 100%;
  display: flex;
  border-top: var(--border-style);
  border-bottom: var(--border-style);
}

header li {
  list-style: none;
}

header li a {
  display: flex;
  align-content: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.center-y {
  display: flex;
  align-items: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

/* --------------------------------------------------- */
/* ------------------ Primary Menu ------------------- */
/* --------------------------------------------------- */

.menu-main-navigation-container {
  display: flex;
  align-content: center;
}

.menu {
  display: flex;
  padding: 0;
  margin: var(--med-spacing);
  gap: 8px;
}

.menu li {
  padding: 5px;
  border-radius: 9999px;
}

/* --------------------------------------------------- */
/* --------------------- Window ---------------------- */
/* --------------------------------------------------- */

.window {
  display: flex;
  flex: 1;
  gap: var(--min-spacing);
  position: relative;
  margin: var(--med-spacing);
}

.window-tab {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 150px;
  border-top-right-radius: var(--min-border-radius);
}

.window-tab.colored {
  background-color: var(--bg-gray);
}

.window-tab-header {
  height: 30px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-left: 10px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  background-color: var(--bg-gray);
  border-top-right-radius: var(--min-border-radius);
}

.window-tab-header h1 {
  overflow: hidden;
  /* display: block; */
  width: 90%;

  /* The Fading Effect (Linear Gradient Mask) */
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

.tab-margin {
  height: 2px;
  width: 100%;
  background-color: var(--bg-main);
}

.window-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: absolute;
  right: 0px;
  left: 0px;
  top: calc(30px + var(--min-spacing));
  bottom: 0px;
  background-color: var(--bg-gray);
  padding: var(--min-spacing);
}

.window-content > section {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: var(--bg-black);
}

/* I ordered the z-index incase domcontentload gives the first rendered columns z-index precedence? usually since third column is the last rendered absolute element, it will always be on top of all its siblings - but in case it fails I have this hardcoded here */

.window-content.first-column {
  z-index: 11;
}

.window-content.second-column {
  z-index: 12;
}

.window-content.third-column {
  z-index: 13;
}

/* --------------------------------------------------- */
/* ----------------- Projects List ------------------- */
/* --------------------------------------------------- */
.projects-table {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-width: min-content;
  background-color: var(--bg-black);
}

.projects-list {
  flex-direction: column;
}

.projects-fields {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
}

.projects-table .name {
  position: sticky;
  left: 0;
  z-index: 1;
  padding-left: var(--ultra-max-spacing);
}

.projects-fields .name {
  background-color: var(--bg-black);
  z-index: 3;
}

.projects-list .name {
  background-color: var(--bg-shale);
}

.projects-fields li,
.projects-list li {
  width: fit-content;
}

.projects-list li {
  border: var(--border-style);
}

.projects-fields li > .name,
.projects-fields li > .language,
.projects-fields li > .technology,
.projects-list li > .name,
.projects-list li > .language,
.projects-list li > .technology {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

.projects-fields li > .type,
.projects-fields li > .stat,
.projects-list li > .type,
.projects-list li > .stat {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.projects-fields li div,
.projects-list li div {
  display: flex;
  word-wrap: break-word;
  white-space: normal;
  padding: var(--max-spacing);
  align-content: flex-end;
  flex-wrap: wrap;
  gap: var(--med-spacing);
}

.projects-list .name h1 {
  align-items: center;
  font-weight: 500;
}

.projects-list li div h1 {
  padding: var(--med-spacing) var(--max-spacing);
  background-color: var(--bg-shale);
  border-radius: var(--med-spacing);
}

.projects-list li .name h1 {
  background-color: transparent;
}

.project-icon {
  position: relative;
}

.project-icon svg {
  color: var(--text-main);
  height: 50px;
  width: 50px;
}

.project-icon > .fl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projects-list .flap {
  height: 10px;
  width: 150px;
}

/* --------------------------------------------------- */
/* ----------------- Gallery Slider ------------------ */
/* --------------------------------------------------- */
.gallery {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.featured {
  height: 80%;
  background-color: var(--bg-black);
}

.slider-container {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-black);
}

.slider {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: auto;
  max-width: 80%;
  gap: var(--med-spacing);
}

/* Target the scrollbar container (track) */
.slider::-webkit-scrollbar-track {
  background: transparent; /* Removes background color */
  box-shadow: none; /* Removes default inset shadows */
  border: none; /* Removes any default borders */
}

/* Ensure the draggable thumb remains visible */
.slider::-webkit-scrollbar-thumb {
  background-color: var(
    --scroll-bar-color
  ); /* Set your preferred scrollbar handle color */
  border-radius: 4px; /* Rounds the corners of the handle */
}

/* Optional: Define the overall scrollbar width */
.slider::-webkit-scrollbar {
  width: 8px; /* Vertical scrollbar width */
  height: 8px; /* Horizontal scrollbar height */
}

.card {
  flex-shrink: 0;
  width: auto;
  height: 100%;
  opacity: 0.5;
}

.card:hover {
  opacity: 1;
}

.card.full-opacity {
  opacity: 1;
}

.gallery img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 750px) {
  /* .projects-fields {
    position: relative;
    z-index: 0;
    margin-left: var(--ultra-max-spacing);
  }

  .projects-list {
    margin-left: var(--ultra-max-spacing);
  }

  .projects-list li .name {
    position: relative;
    z-index: 0;
    background-color: transparent;
  }

  .projects-list li {
    background-color: transparent;
    margin-top: var(--max-spacing);
    margin-bottom: var(--max-spacing);
  }

  .projects-table li > div {
    border-bottom: none;
  }

  .projects-list li > .name {
    border-right: none;
  }

  .projects-fields li > .name,
  .projects-fields li > .language,
  .projects-fields li > .technology,
  .projects-list li > .name,
  .projects-list li > .language,
  .projects-list li > .technology {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
  }

  .projects-fields li > .type,
  .projects-fields li > .stat,
  .projects-list li > .type,
  .projects-list li > .stat {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
  }

  .projects-list li {
    background-color: rgb(57, 57, 57);
  }

  .projects-list li:hover {
    background-color: var(--bg-gray);
  } */
}

@media screen and (min-width: 1300px) {
  /* .projects-fields,
  .projects-list li {
  
  } */
}
