/* --------------------------------------------------- */
/* ------------------ ROOT STYLES -------------------- */
/* --------------------------------------------------- */

:root {
  --color-gray: #666666;
  --color-shale: #2e2e2e;
  --color-test: green;
  --color-main: #1c2226;
  --color-black: #121212;
  --color-lightgray: #c5c5c5;
  --color-white: #ffffff;
  --border-style-gray: var(--color-gray) 1px solid;
  --border-style-shale: var(--color-shale) 1px solid;
  --border-style-white: var(--color-white) 1px solid;
  --ultra-max-spacing: 20px;
  --max-spacing: 10px;
  --med-spacing: 5px;
  --min-spacing: 2px;
  --min-border-radius: 5px;
  --max-border-radius: 10px;
  --scroll-bar-color: #888;
  --font-size-extrasmall: 10px;
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-large: 16px;
}

html,
body {
  overscroll-behavior: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: var(--font-size-small);
  color: var(--color-lightgray);
}

ul,
li,
a {
  display: flex;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: var(--font-size-small);
  color: var(--color-lightgray);
}

button {
  cursor: pointer;
}

/* --------------------------------------------------- */
/* ------------------ Mobile First ------------------- */
/* --------------------------------------------------- */

body {
  color: var(--color-lightgray);
  background-color: var(--color-main);
  height: calc(100dvh - var(--wp-admin--admin-bar--height, 0px));
  overflow: hidden;
  /* Hide scrollbar for Chrome, Safari, and newer Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE and legacy Edge */
  -ms-overflow-style: none;
}

svg {
  color: var(--color-lightgray);
  height: 20px;
  width: 20px;
}

.layout {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  margin: auto;
}

header {
  width: 100%;
  display: flex;
  border-top: var(--border-style-gray);
  border-bottom: var(--border-style-gray);
}

header li {
  list-style: none;
}

header li a {
  display: flex;
  align-content: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.center-y {
  display: flex;
  align-items: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

/* --------------------------------------------------- */
/* ------------------ Primary Menu ------------------- */
/* --------------------------------------------------- */

.menu-main-navigation-container {
  display: flex;
  align-content: center;
}

.menu {
  display: flex;
  padding: 0;
  margin: var(--med-spacing);
  gap: 8px;
}

.menu li {
  padding: 5px;
  border-radius: 9999px;
}

/* --------------------------------------------------- */
/* --------------------- Window ---------------------- */
/* --------------------------------------------------- */

.window {
  display: flex;
  flex: 1;
  gap: var(--min-spacing);
  position: relative;
  margin: var(--med-spacing);
}

.window-tab {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 150px;
  border-top-right-radius: var(--min-border-radius);
}

.window-tab.colored {
  background-color: var(--color-gray);
}

.window-tab-header {
  height: 30px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-left: 10px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  background-color: var(--color-gray);
  border-top-right-radius: var(--min-border-radius);
}

.window-tab-header h1 {
  overflow: hidden;
  /* display: block; */
  width: 90%;

  /* The Fading Effect (Linear Gradient Mask) */
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

.tab-margin {
  height: 2px;
  width: 100%;
  background-color: var(--color-main);
}

.window-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: absolute;
  right: 0px;
  left: 0px;
  top: calc(30px + var(--min-spacing));
  bottom: 0px;
  background-color: var(--color-gray);
  padding: var(--min-spacing);
}

.window-content > section {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: none;
  background-color: var(--color-black);
}

/* I ordered the z-index incase domcontentload gives the first rendered columns z-index precedence? usually since third column is the last rendered absolute element, it will always be on top of all its siblings - but in case it fails I have this hardcoded here */

.window-content.first-column {
  z-index: 11;
}

.window-content.second-column {
  z-index: 12;
}

.window-content.third-column {
  z-index: 13;
}

/* --------------------------------------------------- */
/* ----------------- Projects List ------------------- */
/* --------------------------------------------------- */
.projects-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-black);
}

.projects-filters {
  min-height: 10px;
  width: 100%;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: var(--med-spacing);
}

.projects-list li {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0px var(--med-spacing);
}

.folder-top-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}

.folder-top-layout .left {
  height: auto;
  width: 100%;
  min-width: 0;
  display: flex;
  background-color: var(--color-gray);
  border-top-right-radius: var(--min-border-radius);
  border-top: var(--border-style-white);
  border-left: var(--border-style-gray);
  border-right: var(--border-style-gray);
  background-color: var(--color-shale);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--color-black)
  );
}

.folder-top-layout .right {
  height: 1.5px;
  display: flex;
  background-color: var(--color-gray);
  border-top-right-radius: var(--min-border-radius);
  border-top: var(--border-style-white);
}

.folder-pane {
  border-left: var(--border-style-gray);
  border-right: var(--border-style-gray);
  border-bottom: var(--border-style-gray);
}

.project-name {
  padding: var(--med-spacing) var(--max-spacing);
  width: 100%;
  display: block;
}

.project-name h1 {
  width: 100%;
  font-size: 14px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project-info {
  padding: var(--ultra-max-spacing);
}

.project-link {
  font-weight: bolder;
  padding: var(--med-spacing);
  margin-top: var(--max-spacing);
  justify-self: end;
  font-style: italic;
}

.project-taxonomies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  overflow-x: hidden;
  height: max-content;
  padding-top: var(--ultra-max-spacing);
  background-color: var(--color-shale);
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    var(--color-black)
  );
}

.project-taxonomies h2 {
  padding: var(--med-spacing) var(--max-spacing);
  background-color: var(--color-gray);
  border-radius: var(--max-border-radius);
  border-top: var(--border-style-white);
  white-space: nowrap;
  text-wrap: nowrap;
  font-size: var(--font-size-extrasmall);
}

.project-taxonomies .taxonomy {
  width: 100%;
  height: auto;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.project-taxonomies .type {
  grid-column: 2;
  grid-row: 1;
  justify-content: flex-end;
  padding: 0px var(--ultra-max-spacing) var(--max-spacing) var(--max-spacing);
}

.project-taxonomies .language {
  grid-column: 1;
  grid-row: 1;
  padding: 0px var(--max-spacing) var(--max-spacing) var(--ultra-max-spacing);
}

.project-taxonomies .technology {
  grid-column: 1 / span 2;
  padding: 0px var(--max-spacing) var(--ultra-max-spacing)
    var(--ultra-max-spacing);
}

/* Project Taxonomies */

.taxonomy > .javascript {
  background-color: #f0db4f;
  color: #323330;
}

.taxonomy > .php {
  background-color: #8892be;
  color: #4f5b93;
}

.taxonomy > .sql {
  background-color: #0054a6;
  color: #ffffff;
}

.taxonomy > .css {
  background-color: #2965f1;
  color: #ffffff;
}

.taxonomy > .html {
  background-color: #e34c26;
  color: #ffffff;
}

.taxonomy > .laravel {
  background-color: #ff2d20;
  color: #ffffff;
}

.taxonomy > .mysql {
  background-color: #00758f;
  color: #000000;
}

.taxonomy > .wordpress {
  background-color: #00749c;
  color: #444140;
}

.taxonomy > .typescript {
  background-color: #3178c6;
  color: #ffffff;
}

.taxonomy > .nodejs {
  background-color: #3c873a;
  color: #333333;
}

.taxonomy > .react {
  background-color: #61dbfb;
  color: #ffffff;
}

.taxonomy > .bash {
  background-color: #293137;
  color: #4eaa25;
}

.taxonomy > .c {
  background-color: #00599c;
  color: #ffffff;
}

.taxonomy > .csharp {
  background-color: #9179e4;
  color: #ffffff;
}

.taxonomy > .cpp {
  background-color: #004482;
  color: #ffffff;
}

.taxonomy > .go {
  background-color: #ffffff;
  color: #00add8;
}

.taxonomy > .java {
  background-color: #007396;
  color: #ed8b00;
}

.taxonomy > .python {
  background-color: #3776ab;
  color: #ffd43b;
}

.taxonomy > .shell {
  background-color: #293137;
  color: #4eaa25;
}

@media screen and (min-width: 500px) {
  .projects-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--max-spacing);
  }

  .projects-list li {
    min-width: 500px;
    max-width: 500px;
  }
}

/* --------------------------------------------------- */
/* ----------------- Gallery Slider ------------------ */
/* --------------------------------------------------- */
.gallery {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.featured {
  height: 80%;
  background-color: var(--color-black);
}

.slider-container {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-black);
}

.slider {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior: none;
  height: 100%;
  width: auto;
  max-width: 80%;
  gap: var(--med-spacing);
}

/* Target the scrollbar container (track) */
.slider::-webkit-scrollbar-track {
  background: transparent; /* Removes background color */
  box-shadow: none; /* Removes default inset shadows */
  border: none; /* Removes any default borders */
}

/* Ensure the draggable thumb remains visible */
.slider::-webkit-scrollbar-thumb {
  background-color: var(
    --scroll-bar-color
  ); /* Set your preferred scrollbar handle color */
  border-radius: 4px; /* Rounds the corners of the handle */
}

/* Optional: Define the overall scrollbar width */
.slider::-webkit-scrollbar {
  width: 8px; /* Vertical scrollbar width */
  height: 8px; /* Horizontal scrollbar height */
}

.card {
  flex-shrink: 0;
  width: auto;
  height: 100%;
  opacity: 0.5;
}

.card:hover {
  opacity: 1;
}

.card.full-opacity {
  opacity: 1;
}

.gallery img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
